@font-face {
  font-family: 'heading';
  src: url("../fonts/kollektif-bold.woff2") format("woff2"), url("../fonts/kollektif-bold.woff") format("woff");
  font-weight: bold;
  font-style: normal; }
@font-face {
  font-family: 'body';
  src: url("../fonts/miller-text-italic_30504.woff2") format("woff2"), url("../fonts/miller-text-italic_30504.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

/*# sourceMappingURL=fonts.css.map */
