@font-face {
  font-family: 'heading';
  src: url("../fonts/kollektif-bold.woff2") format("woff2"), url("../fonts/kollektif-bold.woff") format("woff");
  font-weight: bold;
  font-style: normal; }
@font-face {
  font-family: 'body';
  src: url("../fonts/miller-text-italic_30504.woff2") format("woff2"), url("../fonts/miller-text-italic_30504.woff") format("woff");
  font-weight: normal;
  font-style: normal; }
.bounce {
  animation: bounce 2s infinite;
  -webkit-animation: bounce 2s infinite;
  -moz-animation: bounce 2s infinite;
  -o-animation: bounce 2s infinite; }

@-webkit-keyframes bounce {
  0%, 100% {
    -webkit-transform: translateY(0); }
  50% {
    -webkit-transform: translateY(30px); } }
@-moz-keyframes bounce {
  0%, 100% {
    -moz-transform: translateY(0); }
  50% {
    -moz-transform: translateY(30px); } }
@-o-keyframes bounce {
  0%, 100% {
    -o-transform: translateY(0); }
  50% {
    -o-transform: translateY(30px); } }
@keyframes bounce {
  0%, 100% {
    transform: translateY(0); }
  50% {
    transform: translateY(30px); } }
body {
  font-family: "heading", "Helvetica Neue", Arial, sans-serif;
  font-size: 16px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.004); }

p {
  font-family: "body", "Lora", "Georgia", serif;
  line-height: 1.7;
  color: #666; }

h1 {
  font-size: 54px; }
  h1.section-title {
    color: #EEB11D;
    line-height: 1; }

h2 {
  font-size: 36px;
  line-height: 1.3; }
  h2.section-title {
    color: #00192B; }

h3 {
  font-size: 16px; }

h1, h2, h3 {
  font-weight: bold; }

a, a:hover, a:focus {
  text-decoration: none;
  color: white;
  outline: none; }

.no-pad {
  padding: 0; }

section, footer {
  background-color: white;
  position: relative; }
  section .lines, footer .lines {
    width: 1170px;
    margin: auto;
    height: 100%;
    left: 50%;
    transform: translateX(-50%);
    top: 0;
    position: absolute; }
    section .lines div, footer .lines div {
      width: 1px;
      background-color: #f5f5f5;
      height: 100%;
      position: absolute;
      left: 0;
      top: 0; }
      section .lines div:first-child, footer .lines div:first-child {
        left: 8.3333333%; }
      section .lines div:nth-child(2), footer .lines div:nth-child(2) {
        left: 50%; }
      section .lines div:last-child, footer .lines div:last-child {
        left: 91.666667%; }

.col-80p {
  width: 60%;
  margin-right: 20%;
  padding: 0 15px; }

.col-67p {
  width: 66.666667%;
  padding-right: 30px; }

header {
  padding: 10px 0;
  position: fixed;
  z-index: 3;
  left: 0;
  top: 0;
  width: 100%;
  background-color: white;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.08);
  transition: all 0.5s; }
  header.away {
    top: -100px; }
  header #logo {
    margin-top: 5px;
    display: inline-block;
    color: #032a51;
    font-weight: bold; }
    header #logo img {
      height: 55px;
      width: auto;
      margin-right: 10px; }
  header .nav {
    display: inline-block;
    float: right;
    padding: 16px 0; }
    header .nav li {
      display: inline-block;
      padding: 4px 20px;
      font-weight: bold;
      color: #032a51;
      position: relative;
      text-align: center; }
      header .nav li:after {
        display: block;
        height: 100%;
        width: 0%;
        background-color: #EEB11D;
        content: " ";
        position: absolute;
        left: 0;
        bottom: 0;
        z-index: -1;
        transition: all 0.3s; }
    header .nav li:hover:after {
      width: 100%; }

#hero {
  background-color: #032a51;
  height: 100vh;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%; }
  #hero .img-underlay {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: .4;
    background-image: url(../img/bg2.png);
    background-size: cover;
    background-position: center; }
  #hero #masthead {
    margin-top: 250px; }
    #hero #masthead .scroll img {
      margin-top: 120px;
      height: 65px; }
  #hero .masthead-title {
    color: white; }
    #hero .masthead-title span {
      color: #EEB11D; }

#about {
  padding: 120px 0 120px 0;
  margin-top: 100vh;
  position: relative;
  background-color: white; }
  #about .about-story {
    margin-top: 45px; }

#features {
  padding: 45px 0 30px;
  background-image: url(../img/pattern_odd.svg);
  background-size: 70px;
  background-position: center; }
  #features .side-pattern {
    position: absolute;
    right: 0;
    top: 0;
    background-color: #032a51;
    width: 50px;
    height: 60%;
    background-image: url(../img/pattern_odd_y.svg);
    background-size: 70px;
    background-position: center; }
  #features .features {
    margin-top: 90px; }
  #features .feature {
    margin-bottom: 75px; }
    #features .feature .icon {
      height: 45px;
      width: 45px;
      border: 4px solid #032a51;
      margin-bottom: 20px;
      border-radius: 50%; }

#feature-img .feature-img {
  width: 100%;
  height: 640px;
  background-color: #ddd;
  background-image: url(../img/3.jpeg);
  background-size: cover;
  background-position: center; }

#team {
  padding: 60px 0 90px; }
  #team .team {
    margin-top: 45px;
    margin-bottom: 75px;
    z-index: 2; }
  #team .team-member {
    padding: 30px 0; }
    #team .team-member .image {
      height: 100px;
      width: 100px;
      margin-bottom: 30px;
      background-color: #EEB11D;
      border-radius: 50%;
      border: 2px solid #032a51;
      background-size: cover;
      background-position: center; }
    #team .team-member .name {
      color: #00192B; }

footer {
  background-color: #00192B;
  padding: 75px 0 90px; }
  footer h3 {
    color: rgba(255, 255, 255, 0.4);
    margin-bottom: 20px; }
  footer p {
    color: white; }
  footer .copyright {
    color: rgba(255, 255, 255, 0.4);
    margin-top: 175px; }
  footer form .input {
    outline: none;
    border: none;
    color: white;
    border-bottom: 1px solid rgba(255, 255, 255, 0.4);
    border-radius: 0;
    background-color: transparent;
    display: block;
    padding: 8px 0;
    font-family: "body", "Lora", "Georgia", serif;
    margin-bottom: 15px;
    width: 100%; }
  footer form .submit {
    outline: none;
    border: none;
    padding: 15px 45px;
    background-color: #EEB11D;
    color: #00192B; }

.flickity-page-dots {
  bottom: -45px; }
  .flickity-page-dots .dot {
    height: 7px;
    background-color: #00192B;
    border-radius: 0;
    width: 20%;
    margin: 0;
    opacity: .1;
    transition: all 0.3s; }

@media (max-width: 992px) {
  .lines {
    width: 970px; } }
@media (max-width: 768px) {
  .lines {
    display: none; }

  .no-pad {
    padding: 0 15px; }

  header ul.nav {
    display: none; }

  #hero {
    height: 60vh; }

  #hero #masthead {
    margin-top: 120px; }
    #hero #masthead .scroll img {
      margin-top: 60px; }

  #about {
    padding: 45px 0;
    margin-top: 60vh; }
    #about .col-80p {
      width: 100%;
      margin-right: 0;
      padding-left: 0; }
    #about .about-story {
      margin-top: 15px;
      margin-bottom: 45px; }

  #features {
    padding-bottom: 60px; }
    #features .side-pattern {
      display: none; }
    #features .feature {
      margin: 30px 0; }
    #features .col-sm-6 {
      width: 50%;
      float: left;
      display: inline-block; }

  #feature-img .feature-img {
    height: 300px; }

  #team .team-member-wrap {
    width: 50%;
    padding: 0 30px; }

  footer form {
    margin-bottom: 90px; }
  footer .copyright {
    margin-top: 75px; }

  .flickity-page-dots {
    bottom: -45px; }
    .flickity-page-dots .dot {
      height: 10px;
      background-color: #00192B;
      border-radius: 0;
      width: 10px;
      margin: 0 5px;
      border-radius: 50%;
      opacity: .1;
      transition: all 0.3s; } }
@media (max-width: 529px) {
  h1 {
    font-size: 36px; }

  h2 {
    font-size: 27px; }

  #hero {
    height: 100vh; }

  #about {
    margin-top: 100vh; }

  #features .col-sm-6 {
    width: 100%;
    display: block; }
  #features .feature {
    margin: 30px 0; }

  #team .team-member-wrap {
    width: 10   0%;
    padding: 0 30px; } }

/*# sourceMappingURL=main.css.map */
