.bounce{
 animation: bounce 2s infinite;
 -webkit-animation: bounce 2s infinite;
 -moz-animation: bounce 2s infinite;
 -o-animation: bounce 2s infinite;
}
 
@-webkit-keyframes bounce {
 0%, 100% {-webkit-transform: translateY(0);} 
 50% {-webkit-transform: translateY(30px);}
}
 
@-moz-keyframes bounce {
 0%, 100% {-moz-transform: translateY(0);}
 50% {-moz-transform: translateY(30px);}
 // 60% {-moz-transform: translateY(-15px);}
}
 
@-o-keyframes bounce {
 0%, 100% {-o-transform: translateY(0);}
 50% {-o-transform: translateY(30px);}
 // 60% {-o-transform: translateY(-15px);}
}
@keyframes bounce {
 0%, 100% {transform: translateY(0);}
 50% {transform: translateY(30px);}
 // 60% {transform: translateY(-15px);}
}