@import 'fonts';
@import 'animations';

// #TYPE
$sans: 'heading', 'Helvetica Neue', Arial, sans-serif;
$serif: 'body', 'Lora', 'Georgia', serif;

// #COLORS
$blue: #032a51;
$yellow: #EEB11D;
$darkBlue: #00192B;
$grey: #666;
$darkGrey: #101618;

// #FONT-SIZES
$title-big: 54px;
$title: 36px;
$regular: 16px;


body{
    font-family: $sans;
    font-size: 16px;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-shadow: 1px 1px 1px rgba(0,0,0,0.004);
}

p{
    font-family: $serif;
    line-height: 1.7;
    color: $grey;
}


h1{
    font-size: $title-big; 

    &.section-title{
        color: $yellow;
        line-height: 1;
    }
}

h2{
    font-size: $title;
    line-height: 1.3;

    &.section-title{
        color: $darkBlue;
    }
}

h3{
    font-size: $regular;
}

h1, h2, h3{
    font-weight: bold;
}

a, a:hover, a:focus{
    text-decoration: none;
    color: white;
    outline: none;
}

.no-pad{
    padding: 0;
}

section, footer{
    background-color: white;
    position: relative;

    .lines{
        width: 1170px;
        margin: auto;
        height: 100%;
        left: 50%;
        transform: translateX(-50%);
        top: 0;
        position: absolute;

        div{
            width: 1px;
            background-color: #f5f5f5;
            height: 100%;
            position: absolute;
            left: 0;
            top: 0;

            &:first-child{
                left: 8.3333333%;
            }

            &:nth-child(2){
                left: 50%;
            }

            &:last-child{
                left: 91.666667%;
            }
        }
    }
}

.col-80p{
    width: 60%;
    margin-right: 20%;
    // padding-right: 30px;
    padding: 0 15px;
}

.col-67p{
    width: 66.666667%;
    padding-right: 30px;
}

header{

    padding: 10px 0;
    position: fixed;
    z-index: 3;
    left: 0;
    top: 0;
    width: 100%;
    background-color: white;
    box-shadow: 0px 1px 1px rgba(0,0,0,0.08);
    transition: all 0.5s;

    &.away{
        top: -100px;
    }

    #logo{
        margin-top: 5px;
        display: inline-block;
        color: $blue;
        font-weight: bold;

        img{
            height: 55px;
            width: auto;
            margin-right: 10px;
        }
    }

    .nav{
        display: inline-block;
        float: right;
        padding: 16px 0;

        li{
            display: inline-block;
            padding: 4px 20px;
            font-weight: bold;
            color: $blue;
            position: relative;
            text-align: center;

            &:after{
                display: block;
                height:100%;
                width: 0%;
                background-color: $yellow;
                content: " ";
                position: absolute;
                left: 0;
                bottom: 0;
                z-index: -1;
                transition: all 0.3s;
            }
        }

        li:hover{
            &:after{
                width: 100%;
            }
        }
    }
}

#hero{
    background-color: $blue;
    height: 100vh;
    position: fixed;
    left:0;top: 0;
    width: 100%;
    

    .img-underlay{
        position: absolute;
        left: 0; top: 0;
        width: 100%; height: 100%;
        opacity: .4;
        background-image: url(../img/bg2.png);
        background-size: cover;
        background-position: center;
    }
    

    #masthead{
        margin-top: 250px;

        .scroll img{
            margin-top: 120px;
            height: 65px;
        }
    }

    .masthead-title{
        color: white;
        span{
            color: $yellow;
        }
    }
}


#about{
    padding: 120px 0 120px 0;
    margin-top: 100vh;
    position: relative;
    background-color: white;

    .about-story{
        margin-top: 45px;
    }
}

#features{
    padding: 45px 0 30px;

    background-image: url(../img/pattern_odd.svg);
    background-size: 70px;
    background-position: center;

    .side-pattern{
        position: absolute;
        right: 0;
        top: 0;
        background-color: $blue;
        width: 50px;
        height: 60%;
        background-image: url(../img/pattern_odd_y.svg);
        background-size: 70px;
        background-position: center;
    }

    .features{
        margin-top: 90px;
    }

    .feature{
        margin-bottom: 75px;

        .icon{
            height: 45px;
            width: 45px;
            border: 4px solid $blue;
            margin-bottom: 20px;
            border-radius: 50%;
        }
    }
}

#feature-img{
    .feature-img{
        width: 100%;
        height: 640px;
        background-color: #ddd;
        background-image: url(../img/3.jpeg);
        background-size: cover;
        background-position: center;
    }
}

#team{
    padding: 60px 0 90px;

    .team{
        margin-top: 45px;
        margin-bottom: 75px;
        z-index: 2;
    }

    .team-member{
        padding: 30px 0;

        .image{
            height: 100px;
            width: 100px;
            margin-bottom: 30px;
            background-color: $yellow;
            border-radius: 50%;
            border: 2px solid $blue;
            background-size: cover;
            background-position: center;
        }

        .name{
            color: $darkBlue;
        }
    }
}

footer{
    background-color: $darkBlue;
    padding: 75px 0 90px;

    h3{
        color: rgba(255,255,255,0.4);
        margin-bottom: 20px;
    }

    p{
        color: white;
    }

    .copyright{
        color: rgba(255,255,255,0.4);
        margin-top: 175px;
    }

    form{
        .input{
            outline: none;
            border: none;
            color: white;
            border-bottom: 1px solid rgba(255,255,255,0.4);
            border-radius: 0;
            background-color: transparent;
            display: block;
            padding: 8px 0;
            font-family: $serif;
            margin-bottom: 15px;
            width: 100%;
        }

        .submit{
            outline: none;
            border: none;
            padding: 15px 45px;
            background-color: $yellow;
            color: $darkBlue;
        }
    }
}

.flickity-page-dots{
    // text-align: left;
    bottom: -45px;

     .dot{
        height: 7px;
        background-color: $darkBlue;
        border-radius: 0;
        width: 20%;
        margin: 0;
        opacity: .1;
        transition: all 0.3s;
    }
}



@media (max-width:992px) {
    .lines {
        width: 970px
    }
}

@media (max-width: 768px){
    .lines{
        display: none;
    }

    .no-pad{
        padding: 0 15px;
    }

    header ul.nav{
        display: none;
    }

    #hero{
        height: 60vh;
    }

    #hero #masthead{
        margin-top: 120px;

        .scroll img{
            margin-top: 60px;
        }
    }

    #about{
        padding: 45px 0; 
        margin-top: 60vh;

        .col-80p{
            width: 100%;
            margin-right: 0;
            padding-left: 0;
        }

        .about-story{
            margin-top: 15px;
            margin-bottom: 45px;
        }
    }

    #features{
        padding-bottom: 60px;

        .side-pattern{
            display: none;
        }

        .feature{
            margin: 30px 0;
        }

        .col-sm-6{
            width: 50%;
            float: left;
            display: inline-block;
        }
    }

    #feature-img .feature-img{
        height: 300px;
    }

    #team{
        .team-member-wrap{
            width: 50%;
            padding: 0 30px;
        }
    }

    footer{
        form{
            margin-bottom: 90px;
        }

        .copyright{
            margin-top: 75px;
        }
    }

    .flickity-page-dots{
        // text-align: left;
        bottom: -45px;

         .dot{
            height: 10px;
            background-color: $darkBlue;
            border-radius: 0;
            width: 10px;
            margin: 0 5px;
            border-radius: 50%;
            opacity: .1;
            transition: all 0.3s;
        }
    }
}

@media (max-width: 529px){
    $title-big: 36px;
    $title: 27px;
    $regular: 16px;

    h1{
        font-size: $title-big;
    }

    h2{
        font-size: $title;
    }

    #hero{
        height: 100vh;
    }

    #about{
        margin-top: 100vh;
    }

    #features{
        .col-sm-6{
            width: 100%;
            display: block;
        }

        .feature{
            margin: 30px 0;
        }
    }

    #team{
        .team-member-wrap{
            width: 10   0%;
            padding: 0 30px;
        }
    }
}



















